body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;}

h1{
text-align: center;
}

.login-background{
  height: 100vh ;
  background-color:rgb(46, 45, 45);
}

.login-with-google{
  width: 90%;
  background: skyblue;
  margin: 10vh 3vw;
}

.login-card{
  width: 50vw;
  height: 45vh; min-height: 200px;
  top: 20vh;
  background-color: whitesmoke;
  position: fixed;
  left: 25vw;
}

.delete{
  font-size: 20px; font-weight: 900;
  color: red;    background-color:black;
 display: inline;  position: fixed;
 right: 5%;
}

.form{
  text-align: center;
  margin: 2rem;
  width:100%
}

input{
  margin: 0 5vw;
  width: 50vw;
}
.cards{
  padding: 1rem;
  width:95%;
  text-align: center;
  margin: 1rem;
  border:black 5px solid;
}
.center{
  margin: 1.5rem;
  width: 100;
  text-align: center;
}